<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <h4>Voici la page du potin n°<%= id %> </h4>

      <p>
        Son auteur: <%= a_gossip.author %><br/>
        Le contenu du potin: <%= a_gossip.content %><br/>
        <br/>
        <a href="/gossips/<%= id %>/edit/">Editer le potin</a>
        <br/>
       
      <a href="/">Retour à la page des potins </a>
      </p>


  </body>
</html>